* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.the-colors {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.the-colors .ball {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
