* {
  margin: 0;
}

body {
  background-color: gainsboro;
  flex-direction: column;
  
}
#contenermax {
  box-shadow: 10px 10px 10px 10px rgb(146, 114, 114);
  height: 90vh;
  width: fit-content;
  margin: auto;
  height: auto;
}

#title {
  color: dimgrey;
  width: fit-content;
  margin: auto;

}
.colorindoText {
  color: dimgrey;
  width: fit-content;
  margin: auto;

}

.sectionCenter {
  width: fit-content;
  margin: auto;

}

#color-palette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(rgba(0, 187, 239, 0.592));
  

}
.color {
  border: black solid 1px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 20px;

}

#black {
  background-color:black;

}

#color1 {
  background-color:blue;

}

#color2 {
  background-color: rgb(209, 209, 198);

}

#color3 {
  background-color: red;

}

#color4 {
  background-color: dimgray;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: solid 1px black;
  background-color: white;

}

#pixel-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

}

.colorindoText {
  color: black;
  text-align: justify;

}
.colorindoText:hover {
  color: red;

}
