body {
height: 300vh;

}
#tituloprincipal {
  font-family: cursive, sans-serif, serif;
  color: LightPink;
  font-style: italic;
  text-align: center;

}
#titulodepub {
  font-family: monospace, sans-serif, serif;
  color: black;
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  left: 50px;
  position: relative;

}
#titulodeciencia {
  background-color: DimGray;
  width: 700px;
  height: 40px;
  color: black;
  font-family: cursive, sans-serif, serif;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  margin-left: 188px;
  padding-left: 150px;
  padding-right: 165px;

}
#nolinha {
  background-color: black;
  font-family: monospace, sans-serif, serif;
  width: 613px;
  height: 38px;
  font-size: 17px;
  text-align: center;
  margin-left: 386px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 14px;
  padding-top: 12px;

}
#nolinha:hover {
  background-color: rgb(0, 243, 101);

}