* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
.title {
  width: 100%;
  background-color:grey;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px 0px;
}
.logo-img {
width: 50px;
height: 50px;
background-color: white;
border-radius: 25px;
}
.contene-logo {
  display: flex;
  align-items: center;
}
.logo-texto {
  margin-left: 20px;
  color: black;
}
.menu li{
  display: inline-block;
  margin: 0px 10px;

}
.menu li a{
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 15px;
}
.menu li a:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
 .titulo{
  width: 100%;
  height: auto;
  background-color:grey;
  justify-content:space-around;
  align-items: initial;
  padding: 20px 0px;
}
.fatos-cmr{
  background-image: url(/640px-Mantis_shrimp_from_front.jpg);
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  position: relative;
  text-align: center;
}
.contene-logo2{
  display:block ;
  align-items: center;
  position: relative;
  margin-left: 400px;

}
.fatos-texto{
  margin-left: 20px;
  color:black;
}
.paragrafos-menu div{
  display: inline-block;
  margin: 0px 10px;
}
.paragrafos-menu div p{
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-transform:initial ;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  max-width: 500px;
  position: relative;
  left: 343px;
}
.fatos-cmr2{
  background-image: url(600px-Palaemon_serratus_Croazia.jpg);
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  position: relative;
  text-align: center;
}

.paragrafos-menu2{
  font-size: 15px;
  color: white;
  text-transform:initial ;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  max-width: 500px;
  position: relative;
  left: 343px;
  font-style: italic;
  padding: 10px;
}
#Coloblack{
  color: black;
}

.fatos-texto2{
  margin-left: 20px;
  color:black;
  top: -44px;
  position: relative;
}
li{
  list-style: none;
}