html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;

}

#main {
  display: flex;

}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;

}

#input-name {
  display: flex;
  background-color: white;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  color: black;
  padding: 10px;
  flex-direction: row;
}

#input-lastname {
  display: flex;
  background-color: white;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  color: black;
  padding: 10px;
  flex-direction: row;
}

#input-email {
  display: flex;
  background-color: white;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  color: black;
  padding: 10px;

}

.divlastName {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.email-iput-grup {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
}

#house {
  display: flex;
  background-color: white;
  width: 258px;
  height: 36px;
  border-radius: 10px;
  color: black;
  padding: 10px;
}


.family-container {
  display: flex;
  flex-direction: column;
}

.nota-container {
  display: flex;
}

.hide {
  display: none;
}
